@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900');
@import url('https://fonts.googleapis.com/css2?family=Roboto%20Mono:wght@400');

:root {
  --color-bg: #FAFDFFAC;
  --color-error: #eb4d62;
  --color-text: #000000;
  --color-brand1: #8954DF;
  --color-brand2: #D36357;
  --color-brand3: #CFDFFC;
  --color-brand4: #F8CFC6;
  --font-family-default: 'Montserrat';
  --font-family-mono: 'Roboto Mono';
}

.Nav > img {
  width: 160px;
  height: 74px;
}
